*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
#header {
    background-color: pink;
    padding: 10px solid black;
    border: 2px solid black;
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr .4fr;
    height: 120px;
    border-radius: 5px;
    z-index: 99999;
}
#header .header-content{
    display: flex;
    margin: 10px 8px;
}
#header .header-content .header-content-logo img {
    background-size: cover;
    width: 100px;
    border-radius: 10px;
}
#header .header-content .header-content-titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 20px;
}
#header .menu {
    align-self: center;
    justify-self: center;
}

#header .menu ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#header .menu ul li a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    border: 2px solid;
    border-radius: 15px;
}

#header .menu ul li a:hover{
    background-color: purple;
    color: white;
}
#header .login{
    align-self: center;
}
#header .login button{
    width: 150px;
    height: 30px;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    background: linear-gradient(to right, #00dbde, #fc00ff) !important;
}

/* Promo */
#promo{
    background-color: white;
}

#promo h2, .titulo-productos, .titulo-sucursales{
    width: fit-content;
    margin: auto;
    font-size: 40px;
}
#promo .img-descuento{
    width: fit-content;
    margin: auto;
}
#promo .img-descuento img{
    width: 1000px;
}

/* Productos */
#productos-index{
    background-color: white;
}
#productos-index .productos-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
#productos-index .productos-cont .calzado-1-cont, .calzado-2-cont, .calzado-3-cont, .conjunto-arg-cont, .conjunto-riv-cont, .remera-boc-cont{
    border: 4px solid;
    padding: 10px;
    width: fit-content;
    justify-self: center;
    background-color: aqua;
}
#productos-index .productos-cont .calzado-1-cont img, .calzado-2-cont img, .calzado-3-cont img, .conjunto-arg-cont img, .conjunto-riv-cont img, .remera-boc-cont img{
    width: 300px;
    height: 200px;
}

/* Descuento */
#descuento{
    background-color: white;
}
#descuento .descuento-cont{
    padding: 10px;
    width: fit-content;
    margin: auto;
}

/* Marcas */
#marcas{
    background-color: white;
}
#marcas .marcas_content{
    width: fit-content;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
}
#marcas .marcas_content .marca__1, .marca__2, .marca__3, .marca__4, .marca__5, .marca__6{
    margin-right: 30px;
    margin-top: 10px;
}
#marcas .marcas_content .marca__1 img, .marca__2 img, .marca__3 img, .marca__4 img, .marca__5 img, .marca__6 img{
    width: 100px;
    height: 60px;
}
#marcas .marcas_content .marca__1 p, .marca__2 p, .marca__3 p, .marca__4 p, .marca__5 p, .marca__6 p{
    text-align: center;
}

/* footer */
footer{
    background-color: green;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .contacto-footer {
    font-size: 30px;
}
footer .contacto-footer, .whatsapp, .instagram{
    width: fit-content;
    margin-top: 15px;
}
footer .contacto-footer p a{
    text-decoration: none;
    color: black;
}
footer .whatsapp img, .instagram img{
    width: 100px;
}

/* Pagina de Productos */
#productos{
    background-color: white;
}
#productos .productos-pagina{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;    
}
#productos .productos-pagina .calzado-4-cont, .calzado-5-cont, .calzado-6-cont, .calzado-7-cont, .remera-vel-cont, .remera-rac-cont, .remera-boc-2-cont, .remera-ban-cont {
    border: 4px solid;
    padding: 10px;
    width: fit-content;
    justify-self: center;
    background-color: aqua;
}
#productos .productos-pagina .calzado-4-cont img, .calzado-5-cont img, .calzado-6-cont img, .calzado-7-cont img, .remera-vel-cont img, .remera-rac-cont img, .remera-boc-2-cont img, .remera-ban-cont img{
    width: 240px;
}

/* Pagina de nosotros */
.titulo-nosotros {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: x-large;
    width: fit-content;
}
.titulo-nosotros h2{
    padding: 10px;
    margin-left: 850px;
    background-color: orange;
}
#nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#nosotros .nosotros-text{
    border: 5px dashed;
    padding: 20px;
    width: 500px;
}
#nosotros .nosotros-text p{
    font-size: x-large;
    font-family: sans-serif;
}
#nosotros .nosotros-img img{
    margin-left: 200px;
    width: 700px;
}

/* Pagina Ubicacion */
#ubicacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
}
#ubicacion .mapas-ubicacion{
    border: 2px solid;
    padding: 10px;
    width: 320px;
    justify-self: center;
}

/* Pagina de contacto */
#formulario{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: aqua;
}
#formulario form fieldset{
    padding: 10px;
}
#formulario form fieldset .submit{
    text-align: center;
}
#formulario form fieldset div{
    margin-bottom: 30px;
    font-size: x-large;
    font-family: serif;
    padding-left: 10px;
}

/* Media */
@media (max-width:653px){
    #header{
        position: relative;
    }
    #header .header-content{
        flex-direction: column;
    }
    #header .header-content .header-content-logo, .header-content-titulo{
        margin: auto;
    }
    #header .header-content .header-content-titulo, #promo h2, .titulo-productos{
        font-size: 25px;
    }
    #promo .img-descuento img{
        width: 100%;
    }
    #productos-index .productos-cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 3px;
    }
    #productos-index .productos-cont .calzado-1-cont, .calzado-2-cont, .calzado-3-cont, .conjunto-arg-cont, .conjunto-riv-cont, .remera-boc-cont{
        width: 186px;
    }
    #productos-index .productos-cont .calzado-1-cont img, .calzado-2-cont img, .calzado-3-cont img, .conjunto-arg-cont img, .conjunto-riv-cont img, .remera-boc-cont img{
        width: 150px;
        height: 100px;
    }
    #descuento .descuento-cont img{
        width: 100%;
    }
    #marcas .marcas_content{
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;    
    }

}
@media (max-width:890px){
    #header{
        grid-template-columns: 1fr;
        height: auto;
        position: relative;
    }
    #header .header-content {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #header .menu ul li {
        margin: auto;
        margin-bottom: 10px;
    }
    #header .login{
        margin: auto;
        margin-bottom: 5px;
    }
    #header .header-content .header-content-titulo, #promo h2, .titulo-productos{
        font-size: 30px;
    }
    #promo .img-descuento img, #descuento .descuento-cont img{
        width: 100%;
    }
    #productos-index .productos-cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media (min-width:890px) and (max-width:1000px){
    #promo .img-descuento img{
        width: 100%;
    }
}
@media (min-width:890px) and (max-width:1737px){
    #descuento .descuento-cont img{
        width: 100%;
        margin: auto;
    }
}
/* Pagina productos responsive */
@media (max-width:653px){
    #productos .productos-pagina{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 3px;
    }
    #productos .productos-pagina .calzado-4-cont, .calzado-5-cont, .calzado-6-cont, .calzado-7-cont, .remera-vel-cont, .remera-rac-cont, .remera-boc-2-cont, .remera-ban-cont{
        width: 186px;
    }   
    #productos .productos-pagina .calzado-4-cont img, .calzado-5-cont img, .calzado-6-cont img, .calzado-7-cont img, .remera-vel-cont img, .remera-rac-cont img, .remera-boc-2-cont img, .remera-ban-cont img{
        width: 150px;
        height: 100px;
    }
}
/* Pagina productos */
@media (min-width:562px) and (max-width:1106px){
    #productos .productos-pagina{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #productos .productos-pagina .calzado-4-cont, .calzado-5-cont, .calzado-6-cont, .calzado-7-cont, .remera-vel-cont, .remera-rac-cont, .remera-boc-2-cont, .remera-ban-cont{
        width: 186px;
    } 
    #productos .productos-pagina .calzado-4-cont img, .calzado-5-cont img, .calzado-6-cont img, .calzado-7-cont img, .remera-vel-cont img, .remera-rac-cont img, .remera-boc-2-cont img, .remera-ban-cont img{
        width: 120px;
        height: 100px;
    }
}

