
@media (max-width:374px){
    #header{
        position: relative;
        grid-template-columns: 1fr;
        height: auto;
        .header-content{
            align-items: center;
            .header-content-titulo{
                font-size: 30px;
            }
        }
        .menu{
            ul li{
                margin: auto;
            }
        }
        .login{
            justify-self: center;
            margin: 10px 0;
        }
    }
    .fondo-cont{
        #promo{
            h2{
                font-size: 25px;
                padding: 5px;
            }
            .img-descuento{
                img{
                    width: 100%;
                }
            }
        }
        #productos-index{
            .productos-cont{
                display: grid;
                grid-template-columns: 1fr;
            }
        }
        #marcas{
            .marcas_content{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }
            .marca__1{
                margin: auto;
            }
        }
        .titulo-productos{
            font-size: 25px;
            padding: 5px;
        }
        #productos{
            .productos-pagina{
                grid-template-columns: 1fr;
            }
        }
        .titulo-nosotros{
            font-size: 25px;
            padding: 5px;
        }
        #nosotros{
            flex-direction: column;
            margin: auto;
        }
        .nosotros-img{
            img{
                width: 100%;
            }
        }
        .titulo-sucursales{
            font-size: 25px;
            padding: 5px;
        }
        #ubicacion{
            grid-template-columns: 1fr;
        }
    }
    #body-inicio-ses{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .header-content-logo{
            flex-direction: column;
        }
    }
}
@media (max-width:653px){
    #header{
        .header-content{
            flex-direction: column;
        }
    }
    .fondo-cont{
        #productos-index{
            .productos-cont{
                gap: 3px;
                    .calzado-1-cont{
                        width: 186px;
                        img{
                            width: 150px;
                        }
                    }
                    .calzado-2-cont{
                        width: 186px;
                        img{
                            width: 150px;
                        }
                    }
                    .calzado-3-cont{
                        width: 186px;
                        img{
                        width: 150px;
                        }
                    }
                .conjunto-arg-cont{
                    width: 186px;
                    img{
                        width: 150px;
                    }
                }
                .conjunto-riv-cont{
                    width: 186px;
                    img{
                        width: 150px;
                    }
                }
                .conjunto-boc-cont{
                    width: 186px;
                    img{
                        width: 150px;
                    }
                }
            }
        }
        
    }
    #productos{
        .productos-pagina{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 3px;
            .calzado-4-cont{
                width: 186px;
                img{
                    width: 150px;
                }
            }
        }
    }
    #nosotros{
        .nosotros-text{
            width: 100%;
            p{
                font-size: 15px;
            }
        }
    }
    #ubicacion{
        .mapas-ubicacion{
            width: 170px;
            padding: 2px;
            iframe{
                width: 160px;
                align-content: center;
                
            }
        }
    }
}
@media (min-width:374px) and (max-width:890px){
    #header{
        position: relative;
        grid-template-columns: 1fr;
        height: auto;
        .header-content{
            align-items: center;
            justify-content: center;
            margin: {
                top: 10px;
                bottom: 10px;
            }
            .header-content-titulo{
                font-size: 30px;
            }
        }
        .menu{
            ul li{
                margin: auto;
            }
        }
        .login{
            justify-self: center;
        }
        
    }
    .fondo-cont{

        #promo{
            h2{
                font-size: 30px;
            }
            .img-descuento{
                img{
                    width: 100%;
                }
            }
        }
        #productos-index{
            .productos-cont{
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            }
        }
        #marcas{
            .marcas_content{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;
                .marca__1{
                    margin: auto;
                    background-color: #c3c3c3;
                }
            }
        }
    }
    .titulo-productos{
        font-size: 30px;
    }
    #productos{
        .productos-pagina{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            img{
                height: auto;
            }
        }
    }
    .titulo-nosotros{
        font-size: 30px;
    }
    #nosotros{
        flex-direction: column;
        margin: 0px;
        .nosotros-img{
            img{
                width: 100%;
            }
        }
        .nosotros-text{
            p{
                font-size: 15px;
            }
        }
    }
    .titulo-sucursales{
        font-size: 30px;
    }
    #ubicacion{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media (min-width:890px) and (max-width:1440px){
    #nosotros{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
}
@media (min-width:890px) and (max-width:1110px){
    #productos{
        .productos-pagina{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}