@import "reset";
@import "head-foot";
@import "desc-marc";

@mixin tittle {
    width: fit-content;
    margin: auto;
    font-size: 40px;
    border: 3px solid;
    border-radius: 15px;
    background-color: aqua;
}
.fondo-cont{
    background-image: url("../img/fondo/logopagfondo.png");
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    /* index-promo */
    #promo{
        & h2{
            @include tittle;
        }
        & .img-descuento{
            width: fit-content;
            margin: auto;
            margin-top: 10px;
            img{
                width: 1000px;
            }
        }
    }
    /* Productos index */
    #productos-index{
         & .productos-cont{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            .calzado-1-cont{
                border: 4px solid;
                border-radius: 10px;
                padding: 10px;
                width: fit-content;
                justify-self: center;
                background-color: aqua;
                img{
                    width: 300px;
                    height: auto;
                }
                p{
                    text-align: end;
                    font-weight: bold;
                    margin-top: 10px;
                    span{
                        text-decoration: line-through;
                        margin-right: 10px;
                    }
                }
            }
            .calzado-2-cont{
                @extend .calzado-1-cont;
            }
            .calzado-3-cont{
                @extend .calzado-1-cont;
            }
            .conjunto-arg-cont{
                @extend .calzado-1-cont;
            }
            .conjunto-riv-cont{
                @extend .calzado-1-cont;
            }
            .remera-boc-cont{
                @extend .calzado-1-cont;
            }
        }
    }
}

/* Productos pag */
.titulo-productos{
    @include tittle;
}
#productos{
    .productos-pagina{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;   
        margin: {
            top: 10px; 
            bottom: 10px;
        }
        .calzado-4-cont{
            border: 4px solid;
            border-radius: 10px;
            padding: 10px;
            width: fit-content;
            justify-self: center;
            background-color: aqua;
            overflow-x: hidden;
            img{
                width: 240px;
            }
            p{
                text-align: end;
                font-weight: bold;
                margin-top: 10px;
            }
        }
        .calzado-5-cont{
            @extend .calzado-4-cont;
        }
        .calzado-6-cont{
            @extend .calzado-4-cont;
        }
        .calzado-7-cont{
            @extend .calzado-4-cont;
        }
        .remera-vel-cont{
            @extend .calzado-4-cont;
        }
        .remera-rac-cont{
            @extend .calzado-4-cont;
        }
        .remera-boc-2-cont{
            @extend .calzado-4-cont;
        }
        .remera-ban-cont{
            @extend .calzado-4-cont;
        }
    }
}

/* Pagina Nosotros */
.titulo-nosotros{
    @include tittle;
    margin-bottom: 5px;
}
#nosotros{
    display: flex;
    align-items: center;
    gap: 35px;
    margin: {
        top: 10px;
        left: 100px;
    }
    .nosotros-text{
        border: 5px dashed;
        padding: 20px;
        width: 700px;
        background-color: white;
        p{
            font: {
                size: x-large;
                family: sans-serif;
            }
            text-align: justify;
        }
    }
}

/* Pagina Ubicacion */
.titulo-sucursales{
    @include tittle;
}
#ubicacion{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    .mapas-ubicacion{
        border: 2px solid;
        border-radius: 10px;
        padding: 10px;
        width: 320px;
        justify-self: center;
        background-color: white;
    }
}

/* Pagina Contacto */
#formulario{
    width: fit-content;
    margin: auto;
    margin: {
        top: 20px;
        bottom: 15px;
    }
    background-color: aqua;
    form fieldset{
        padding: 10px;
        .submit{
            text-align: center;
        }
        div{
            margin-bottom: 25px;
            font: {
                size: x-large;
                family: sans-serif;
            }
            padding-left: 10px;
        }
    }
}
/* Pagina inicio sesion */
#body-inicio-ses{
    display: grid;
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo/fondo-desen.png);
    background-size: cover;
    justify-content: center;
    .header-content-logo{
        width: 153px;
        height: 144px;
        justify-self: center;
        align-self: flex-end;
        margin-bottom: 10px;
        img{
            width: 153px;
            height: 144px;
            &:hover{
                opacity: 50%;
            }
        }
    }
    .inicio-sesion-cont{
        width: 500px;
        height: 500px;
        border: 3px solid;
        background-color: white;
        justify-self: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
            h4{
                text-align: center;
                font-size: 30px;
                font-family: sans-serif;
                margin-top: 15px;
            }
            .email-inicio{
                text-align: center;
                display: flex;
                flex-direction: column;
                #mail{
                    width: 300px;
                    height: 24px;
                    text-align: center;
                    margin: auto;
                    margin-top: 10px;
                }
            }
            .pass-inicio{
                text-align: center;
                display: flex;
                flex-direction: column;
                #pass{
                    width: 300px;
                    height: 24px;
                    text-align: center;
                    margin: auto;
                    margin-top: 10px;
                }
            }
            .cbox1-inicio{
                margin-top: 15px
            }
            .login-inicio{
                button{
                    width: 150px;
                    height: 30px;
                    font-size: 18px;
                    color: white;
                    border-radius: 25px;
                    background: linear-gradient(to right, #00dbde, #fc00ff) !important;
                }
            }
    }
}
@import "media";