* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  background-image: url(../img/fondo/fondo.header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 2fr 0.4fr;
  height: 120px;
  border-radius: 5px;
  z-index: 99999;
}
#header .header-content {
  display: flex;
  margin: 10px 8px;
}
#header .header-content .header-content-logo img {
  background-size: cover;
  width: 100px;
  border-radius: 10px;
}
#header .header-content .header-content-titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
}
#header .menu {
  align-self: center;
  justify-self: center;
}
#header .menu ul {
  display: flex;
  flex-wrap: wrap;
}
#header .menu ul li {
  list-style: none;
  display: flex;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#header .menu ul li a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px;
  border: 2px solid;
  border-radius: 15px;
  width: 120px;
  text-align: center;
}
#header .menu ul li a:hover {
  background-color: purple;
  color: white;
}
#header .login {
  align-self: center;
}
#header .login a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border: 3px white solid;
  padding: 5px;
  border-radius: 25px;
  margin: 10px;
  width: 120px;
  text-align: center;
  background: linear-gradient(to right, #00dbde, #fc00ff) !important;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../img/fondo/fondo-footer.jpg);
  background-repeat: no-repeat;
}
footer .contacto-footer {
  font-size: 30px;
  margin-top: 15px;
}
footer .contacto-footer a {
  text-decoration: none;
  color: black;
  border: 3px solid;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}
footer .whatsapp, footer .instagram {
  margin-top: 15px;
}
footer .whatsapp img, footer .instagram img {
  width: 100px;
}
#descuento .descuento-cont {
  margin-top: 10px;
}
#descuento .descuento-cont img {
  width: 100%;
}

#marcas .marcas_content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: flex;
}
#marcas .marcas_content .marca__1, #marcas .marcas_content .marca__6, #marcas .marcas_content .marca__5, #marcas .marcas_content .marca__4, #marcas .marcas_content .marca__3, #marcas .marcas_content .marca__2 {
  margin-right: 30px;
  margin-top: 10px;
  border: 3px solid;
  border-radius: 10px;
  background-color: #c3c3c3;
}
#marcas .marcas_content .marca__1 img, #marcas .marcas_content .marca__6 img, #marcas .marcas_content .marca__5 img, #marcas .marcas_content .marca__4 img, #marcas .marcas_content .marca__3 img, #marcas .marcas_content .marca__2 img {
  width: 100px;
  height: 60px;
  border-radius: 10px;
}
#marcas .marcas_content .marca__1 p, #marcas .marcas_content .marca__6 p, #marcas .marcas_content .marca__5 p, #marcas .marcas_content .marca__4 p, #marcas .marcas_content .marca__3 p, #marcas .marcas_content .marca__2 p {
  text-align: center;
}
.fondo-cont {
  background-image: url("../img/fondo/logopagfondo.png");
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  /* index-promo */
  /* Productos index */
}
.fondo-cont #promo h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 40px;
  border: 3px solid;
  border-radius: 15px;
  background-color: aqua;
}
.fondo-cont #promo .img-descuento {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}
.fondo-cont #promo .img-descuento img {
  width: 1000px;
}
.fondo-cont #productos-index .productos-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.fondo-cont #productos-index .productos-cont .calzado-1-cont, .fondo-cont #productos-index .productos-cont .remera-boc-cont, .fondo-cont #productos-index .productos-cont .conjunto-riv-cont, .fondo-cont #productos-index .productos-cont .conjunto-arg-cont, .fondo-cont #productos-index .productos-cont .calzado-3-cont, .fondo-cont #productos-index .productos-cont .calzado-2-cont {
  border: 4px solid;
  border-radius: 10px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
  background-color: aqua;
}
.fondo-cont #productos-index .productos-cont .calzado-1-cont img, .fondo-cont #productos-index .productos-cont .remera-boc-cont img, .fondo-cont #productos-index .productos-cont .conjunto-riv-cont img, .fondo-cont #productos-index .productos-cont .conjunto-arg-cont img, .fondo-cont #productos-index .productos-cont .calzado-3-cont img, .fondo-cont #productos-index .productos-cont .calzado-2-cont img {
  width: 300px;
  height: auto;
}
.fondo-cont #productos-index .productos-cont .calzado-1-cont p, .fondo-cont #productos-index .productos-cont .remera-boc-cont p, .fondo-cont #productos-index .productos-cont .conjunto-riv-cont p, .fondo-cont #productos-index .productos-cont .conjunto-arg-cont p, .fondo-cont #productos-index .productos-cont .calzado-3-cont p, .fondo-cont #productos-index .productos-cont .calzado-2-cont p {
  text-align: end;
  font-weight: bold;
  margin-top: 10px;
}
.fondo-cont #productos-index .productos-cont .calzado-1-cont p span, .fondo-cont #productos-index .productos-cont .remera-boc-cont p span, .fondo-cont #productos-index .productos-cont .conjunto-riv-cont p span, .fondo-cont #productos-index .productos-cont .conjunto-arg-cont p span, .fondo-cont #productos-index .productos-cont .calzado-3-cont p span, .fondo-cont #productos-index .productos-cont .calzado-2-cont p span {
  text-decoration: line-through;
  margin-right: 10px;
}
/* Productos pag */
.titulo-productos {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 40px;
  border: 3px solid;
  border-radius: 15px;
  background-color: aqua;
}

#productos .productos-pagina {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#productos .productos-pagina .calzado-4-cont, #productos .productos-pagina .remera-ban-cont, #productos .productos-pagina .remera-boc-2-cont, #productos .productos-pagina .remera-rac-cont, #productos .productos-pagina .remera-vel-cont, #productos .productos-pagina .calzado-7-cont, #productos .productos-pagina .calzado-6-cont, #productos .productos-pagina .calzado-5-cont {
  border: 4px solid;
  border-radius: 10px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
  background-color: aqua;
  overflow-x: hidden;
}
#productos .productos-pagina .calzado-4-cont img, #productos .productos-pagina .remera-ban-cont img, #productos .productos-pagina .remera-boc-2-cont img, #productos .productos-pagina .remera-rac-cont img, #productos .productos-pagina .remera-vel-cont img, #productos .productos-pagina .calzado-7-cont img, #productos .productos-pagina .calzado-6-cont img, #productos .productos-pagina .calzado-5-cont img {
  width: 240px;
}
#productos .productos-pagina .calzado-4-cont p, #productos .productos-pagina .remera-ban-cont p, #productos .productos-pagina .remera-boc-2-cont p, #productos .productos-pagina .remera-rac-cont p, #productos .productos-pagina .remera-vel-cont p, #productos .productos-pagina .calzado-7-cont p, #productos .productos-pagina .calzado-6-cont p, #productos .productos-pagina .calzado-5-cont p {
  text-align: end;
  font-weight: bold;
  margin-top: 10px;
}
/* Pagina Nosotros */
.titulo-nosotros {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 40px;
  border: 3px solid;
  border-radius: 15px;
  background-color: aqua;
  margin-bottom: 5px;
}

#nosotros {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-top: 10px;
  margin-left: 100px;
}
#nosotros .nosotros-text {
  border: 5px dashed;
  padding: 20px;
  width: 700px;
  background-color: white;
}
#nosotros .nosotros-text p {
  font-size: x-large;
  font-family: sans-serif;
  text-align: justify;
}

/* Pagina Ubicacion */
.titulo-sucursales {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 40px;
  border: 3px solid;
  border-radius: 15px;
  background-color: aqua;
}

#ubicacion {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
#ubicacion .mapas-ubicacion {
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  width: 320px;
  justify-self: center;
  background-color: white;
}

/* Pagina Contacto */
#formulario {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: aqua;
}
#formulario form fieldset {
  padding: 10px;
}
#formulario form fieldset .submit {
  text-align: center;
}
#formulario form fieldset div {
  margin-bottom: 25px;
  font-size: x-large;
  font-family: sans-serif;
  padding-left: 10px;
}

/* Pagina inicio sesion */
#body-inicio-ses {
  display: grid;
  width: 100%;
  height: 100vh;
  background-image: url(../img/fondo/fondo-desen.png);
  background-size: cover;
  justify-content: center;
}
#body-inicio-ses .header-content-logo {
  width: 153px;
  height: 144px;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 10px;
}
#body-inicio-ses .header-content-logo img {
  width: 153px;
  height: 144px;
}
#body-inicio-ses .header-content-logo img:hover {
  opacity: 50%;
}
#body-inicio-ses .inicio-sesion-cont {
  width: 500px;
  height: 500px;
  border: 3px solid;
  background-color: white;
  justify-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#body-inicio-ses .inicio-sesion-cont h4 {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  margin-top: 15px;
}
#body-inicio-ses .inicio-sesion-cont .email-inicio {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#body-inicio-ses .inicio-sesion-cont .email-inicio #mail {
  width: 300px;
  height: 24px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
#body-inicio-ses .inicio-sesion-cont .pass-inicio {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#body-inicio-ses .inicio-sesion-cont .pass-inicio #pass {
  width: 300px;
  height: 24px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
#body-inicio-ses .inicio-sesion-cont .cbox1-inicio {
  margin-top: 15px;
}
#body-inicio-ses .inicio-sesion-cont .login-inicio button {
  width: 150px;
  height: 30px;
  font-size: 18px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(to right, #00dbde, #fc00ff) !important;
}

@media (max-width: 374px) {
  body {
    width: 100%;
  }
  body #header {
    position: relative;
    grid-template-columns: 1fr;
    height: auto;
  }
  body #header .header-content {
    align-items: center;
  }
  body #header .header-content .header-content-titulo {
    font-size: 30px;
  }
  body #header .menu ul li {
    margin: auto;
  }
  body #header .login {
    justify-self: center;
  }
  body #header .login a {
    margin: 10px;
  }
  body .fondo-cont #promo h2 {
    font-size: 25px;
    padding: 5px;
  }
  body .fondo-cont #promo .img-descuento img {
    width: 100%;
  }
  body .fondo-cont #productos-index .productos-cont {
    display: grid;
    grid-template-columns: 1fr;
  }
  body .fondo-cont #marcas .marcas_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  body .fondo-cont #marcas .marca__1, body .fondo-cont #marcas .marcas_content .marca__2, body .fondo-cont #marcas .marcas_content .marca__3, body .fondo-cont #marcas .marcas_content .marca__4, body .fondo-cont #marcas .marcas_content .marca__5, body .fondo-cont #marcas .marcas_content .marca__6 {
    margin: auto;
  }
  body .fondo-cont .titulo-productos {
    font-size: 25px;
    padding: 5px;
  }
  body .fondo-cont #productos .productos-pagina {
    grid-template-columns: 1fr;
  }
  body .fondo-cont .titulo-nosotros {
    font-size: 25px;
    padding: 5px;
  }
  body .fondo-cont #nosotros {
    flex-direction: column;
    margin: auto;
  }
  body .fondo-cont .nosotros-img img {
    width: 100%;
  }
  body .fondo-cont .titulo-sucursales {
    font-size: 25px;
    padding: 5px;
  }
  body .fondo-cont #ubicacion {
    grid-template-columns: 1fr;
  }
  body #body-inicio-ses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body #body-inicio-ses .header-content-logo {
    flex-direction: column;
  }
}
@media (max-width: 653px) {
  #header .header-content {
    flex-direction: column;
  }
  .fondo-cont #productos-index .productos-cont {
    gap: 3px;
  }
  .fondo-cont #productos-index .productos-cont .calzado-1-cont, .fondo-cont #productos-index .productos-cont .calzado-2-cont, .fondo-cont #productos-index .productos-cont .calzado-3-cont, .fondo-cont #productos-index .productos-cont .conjunto-arg-cont, .fondo-cont #productos-index .productos-cont .conjunto-riv-cont, .fondo-cont #productos-index .productos-cont .remera-boc-cont {
    width: 186px;
  }
  .fondo-cont #productos-index .productos-cont .calzado-1-cont img, .fondo-cont #productos-index .productos-cont .calzado-2-cont img, .fondo-cont #productos-index .productos-cont .calzado-3-cont img, .fondo-cont #productos-index .productos-cont .conjunto-arg-cont img, .fondo-cont #productos-index .productos-cont .conjunto-riv-cont img, .fondo-cont #productos-index .productos-cont .remera-boc-cont img {
    width: 150px;
  }
  .fondo-cont #productos-index .productos-cont .calzado-2-cont {
    width: 186px;
  }
  .fondo-cont #productos-index .productos-cont .calzado-2-cont img {
    width: 150px;
  }
  .fondo-cont #productos-index .productos-cont .calzado-3-cont {
    width: 186px;
  }
  .fondo-cont #productos-index .productos-cont .calzado-3-cont img {
    width: 150px;
  }
  .fondo-cont #productos-index .productos-cont .conjunto-arg-cont {
    width: 186px;
  }
  .fondo-cont #productos-index .productos-cont .conjunto-arg-cont img {
    width: 150px;
  }
  .fondo-cont #productos-index .productos-cont .conjunto-riv-cont {
    width: 186px;
  }
  .fondo-cont #productos-index .productos-cont .conjunto-riv-cont img {
    width: 150px;
  }
  .fondo-cont #productos-index .productos-cont .conjunto-boc-cont {
    width: 186px;
  }
  .fondo-cont #productos-index .productos-cont .conjunto-boc-cont img {
    width: 150px;
  }
  #productos .productos-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3px;
  }
  #productos .productos-pagina .calzado-4-cont, #productos .productos-pagina .calzado-5-cont, #productos .productos-pagina .calzado-6-cont, #productos .productos-pagina .calzado-7-cont, #productos .productos-pagina .remera-vel-cont, #productos .productos-pagina .remera-rac-cont, #productos .productos-pagina .remera-boc-2-cont, #productos .productos-pagina .remera-ban-cont {
    width: 186px;
  }
  #productos .productos-pagina .calzado-4-cont img, #productos .productos-pagina .calzado-5-cont img, #productos .productos-pagina .calzado-6-cont img, #productos .productos-pagina .calzado-7-cont img, #productos .productos-pagina .remera-vel-cont img, #productos .productos-pagina .remera-rac-cont img, #productos .productos-pagina .remera-boc-2-cont img, #productos .productos-pagina .remera-ban-cont img {
    width: 150px;
  }
  #nosotros .nosotros-text {
    width: 100%;
  }
  #nosotros .nosotros-text p {
    font-size: 15px;
  }
  #ubicacion .mapas-ubicacion {
    width: 170px;
    padding: 2px;
  }
  #ubicacion .mapas-ubicacion iframe {
    width: 160px;
    align-content: center;
  }
}
@media (min-width: 374px) and (max-width: 890px) {
  #header {
    position: relative;
    grid-template-columns: 1fr;
    height: auto;
  }
  #header .header-content {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #header .header-content .header-content-titulo {
    font-size: 30px;
  }
  #header .menu ul li {
    margin: auto;
  }
  #header .login {
    justify-self: center;
  }
  .fondo-cont #promo h2 {
    font-size: 30px;
  }
  .fondo-cont #promo .img-descuento img {
    width: 100%;
  }
  .fondo-cont #productos-index .productos-cont {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .fondo-cont #marcas .marcas_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .fondo-cont #marcas .marcas_content .marca__1, .fondo-cont #marcas .marcas_content .marca__2, .fondo-cont #marcas .marcas_content .marca__3, .fondo-cont #marcas .marcas_content .marca__4, .fondo-cont #marcas .marcas_content .marca__5, .fondo-cont #marcas .marcas_content .marca__6 {
    margin: auto;
    background-color: #c3c3c3;
  }
  .titulo-productos {
    font-size: 30px;
  }
  #productos .productos-pagina {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  #productos .productos-pagina img {
    height: auto;
  }
  .titulo-nosotros {
    font-size: 30px;
  }
  #nosotros {
    flex-direction: column;
    margin: 0px;
  }
  #nosotros .nosotros-img img {
    width: 100%;
  }
  #nosotros .nosotros-text p {
    font-size: 15px;
  }
  .titulo-sucursales {
    font-size: 30px;
  }
  #ubicacion {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 890px) and (max-width: 1440px) {
  #nosotros {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
}
@media (min-width: 890px) and (max-width: 1110px) {
  #productos .productos-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=main.css.map */